.main {
    display: flex;
    justify-content: center;
    min-height: calc(100vh - 80px);
    width: 40%;
    margin: 0 auto;
}

.main .form {
    width: 420px;
    min-height: 100px;
    padding: 16px 24px;
    border-radius: 2px;
    margin: 24px;
    text-align: center;
}

.main .form .heading {
    font-size: 1.6rem;
    font-weight: 600;
}

.main .form .desc {
    color: #636d77;
    font-weight: lighter;
}

.main .form .form-group {
    display: flex;
    margin-bottom: 16px;
    flex-direction: column;
}

.main .form .form-group .form-label {
    font-weight: 500;
    padding-bottom: 6px;
    text-align: left;
}

.form-message {
    text-align: left;
    width: 100%;
    padding: 4px 0 0;
    color: #f33a58;
}

.main .form .form-group .form-control {
    height: 40px;
    padding: 10px 12px;
    border: 1px solid #b3b3b3;
    border-radius: 3px;
    outline: none;
}

.main .form .form-group .form-control:hover {
    border-color: #2ca1c6;
}

.main .form .form-group.invalid .form-control {
    border-color: var(--danger-color);
}

.main .form .form-submit {
    outline: none;
    background-color: #2ca1c6;
    margin-top: 12px;
    padding: 8px 16px;
    font-weight: 600;
    color: #fff;
    border: none;
    width: 100%;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.main .form .form-submit:hover {
    background-color: #33b4dc;
}

.main .form a {
    font-size: 20px;
    color: #2f1c6a;
    font-weight: 600;
}